# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o*
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sys

# Symbols
*.sym
*kernel.txt

# Disk Images
*.iso
*.img
*INITRD*
*.o.txt
*.sys.txt
*.efi

# Documentation
*kernel/doc/*
*build/*
*.vscode/*
*.idea/*
*sys/core
filesystem/sys/core
